# Licensed under the Apache 2.0 License
# - http://www.apache.org/licenses/LICENSE-2.0
# - https://github.com/coveragepy/django_coverage_plugin/blob/main/NOTICE.txt

include *.txt
include .editorconfig
include .isort.cfg
include Makefile
include tox.ini

recursive-include .github *
recursive-include tests *.py
